.dr{
  margin-left: 20px;
  margin-top: 20px;
  border: none;
}

.flex-column{
  margin-left: 26%;
  margin-top: -7%;
}

.spa{
  margin-top: -20px;
}

.circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid  navy;

}


.ti{
  margin-left: 20px;
}

.text{
  margin-left: 10px;
  margin-top: -5px;
}

.timg{
  margin-left: 10px;
  margin-top: -4px;
}
 .submi{
  margin-left: 33%;
  margin-top: -34px;
 }

 .subm{
  margin-left: 20px;
  margin-top: -4px;
  color: green;
 }

 .ts{
  margin-left: 20px;
  margin-top: -26px;
 }


 .tst{
  margin-left: 25px;
  margin-top: -4px;
 }


 .rm{
  margin-left: 33%;
  margin-top: -34px;
 }


 .rem{
  margin-left: 15px;
  margin-top: -4px;
  color:red
 }


 .cont{
  margin-left: 6%;
  margin-top: -20px;
 }


.text1{
  margin-left: 10px;
  margin-top: -5px;
}
.contri{
  margin-top: -4px;
  margin-left: 10px;
  width: 20%;
  height:35px;
  text-align: center;
  border: none;
  border-radius: 80px;
  background-color:#4118CC;
  color:white;
}
 

.btn{
  height:35px;
  width: 24%;
  background-color:#4118CC;
  color: white;
  border-radius: 80px;
  margin-left: 20%;
  margin-top: -20px;
}

.arbtn{
  margin-top: 5px;
  margin-left: 5px;
}

.fstr{
  margin-left: 60%;
  margin-top: 20px;
}


.poly{
  
  border: 0px solid  rgb(195, 177, 225);
  background-color: rgb(195, 177, 225);
}
#pol{
  margin-top: -5px;
}
.rec{
  margin-left: 30px;
  border: 0px solid  rgb(227,225,236);
  background-color:rgb(227,225,236);
}
#rect{
  margin-top: -5px;
}

.cir{
  margin-left: 30px;
  border: 0px solid  rgb(193,216,236);
  background-color: rgb(193,216,236);
}

#circ{
  margin-top: -5px;
}

.secr{
  margin-left: 60%;
  
}
.lin{
  border: 0px solid  rgb(240,204,190);
  background-color: rgb(240,204,190);
}
#li{
   margin-top: -5px;
}
.bru{
  margin-left: 60px;
  border: 0px solid  rgb(226,237,203);
  background-color: rgb(226,237,203);
}
#bu{
  margin-top: -5px;
}

.do{
  margin-left: 60px; 
  border: 0px solid  rgb(210,218,239);
  background-color: rgb(210,218,239);
}
#d{
  margin-top: -5px;
}