.slide-nav-bar {
    width: 250px;
    height: 100vh;
    background-color: #f5f5f5;
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 100;
  }
  
  .nav-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
  }
  
  .nav-item.logo {
    padding: 10px;
  }
  
  .dashboard-icon {
    font-size: 30px;
    color: #333;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #e0e0e0;
  }
  
  .nav-link.active {
    background-color: #ccc;
    font-weight: bold;
  }
  
  .nav-icon {
    margin-right: 10px;
  }
  
  .nav-text {
    display: none;
  }
  
  .notification {
    position: relative;
  }
  
  .notification .toggle-icon {
    margin-left: auto;
  }
  
  .notification-dropdown {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: none;
  }
  
  .notification-card {
    padding: 5px;
  }
  
  .toggle-button {
    position: absolute;
    top: 10px;
    right: -30px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .toggle-button.expanded {
    right: 0;
  }
  
  @media (max-width: 768px) {
    .slide-nav-bar {
      width: 70px;
    }
  
    .nav-item.logo {
      padding: 10px 0;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    .nav-icon {
      margin-right: 0;
    }
  
    .nav-text {
      display: none;
    }
  
    .nav-item.notification .toggle-icon {
      margin-left: 0;
      margin-right: 0;
    }
  
    .notification-dropdown {
      top: 100%;
      left: 0;
      width: 200px;
    }
  
    .toggle-button {
      top: 10px;
      right: -30px;
    }
  
    .toggle-button.expanded {
      right: 10;
    }
  
    .nav-link.active .nav-icon,
    .nav-link.active .nav-text {
      display: inline;
    }
  }
  